<%# Assuming to receive @student %>

<%= render 'layouts/section_header',
  title: "#{@student.name}'s Streak",
  button_label: "Generate practice",
  button_path: "#" %>
<ol>
<% @student.practices.each do |practice|%>
<li>
  practice <%= practice.id %> - <%= practice.score%>/10
</li>
<%end%>
<%= @student || student %>
