<h1>Family page</h1>

<%= link_to "Add Student", new_user_student_path(@user) %>

<h2>Students</h2>
<% @user.students.each do |student| %>
  <p>
    <strong><%= student.name %></strong><br>
    Year Group: <%= student.year_group&.name %><br>
  </p>
<% end %>
