<%# app/views/layouts/_section_header.html.erb %>
<div class="h--s-header border-b border-gray-200 sm:flex sm:items-center sm:justify-between">
  <h1 class="text-base font-semibold text-gray-900"><%= title %></h1>
  <div class="mt-3 sm:mt-0 sm:ml-4">
    <% if button_label && button_path %>
      <%= link_to button_label, button_path, class: "btn h--cta inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500" %>
    <% end %>
  </div>
</div>
